body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fce6e6;
}

h1 {
    font-size: 24px;
}

.name-input, .options, .password-input {
    margin: 20px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.heart {
    font-size: 100px;
    animation: heart-expand 2s ease-out forwards;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.flower {
    font-size: 30px;
    position: absolute;
    animation: flower-explode 1s ease forwards;
    opacity: 0;
    z-index: 50;
}

@keyframes heart-expand {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(2);
    }
    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@keyframes flower-explode {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(2);
    }
}

.valentine-message {
    font-size: 30px;
    color: #ff007f;
    font-weight: bold;
    margin-top: 20px;
    animation: fade-in 3s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}